body {
    font-family: sans-serif;
    
}

.header {

}

.header1{
  display: flex;
  list-style-type: none;
  overflow: hidden;
  text-decoration: none;
  justify-content: flex-start;
}

.header2{
  display: flex;
  list-style-type: none;
  overflow: hidden;
  text-decoration: none;
  justify-content: flex-end;
}

  #hom {
    color: rgb(52, 201, 255);
    width: 110px;
    float: left;
    list-style-type: none;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    height: 35px;
    margin-right: 10px;
    
  }

  #con {
    color: rgb(52, 201, 255);
    width: 110px;
    float: left;
    text-align: center;
    height: 35px;
    
  }

  #log {
    color: rgb(52, 201, 255);
    border: solid 1px rgb(52, 201, 255);
    border-radius: 10px;
    width: 110px;
    float: right;
    margin-right: 5%;
    text-align: center;
    height: 35px;
  }

  #reg {
    background-color: rgb(52, 201, 255);
    width: 110px;
    border-radius: 10px;
    margin-right: 10px;
    float: right;
    color: white;
    text-align: center;
    height: 35px;

  }

  .header1 a div p {
    margin-top: 8px;
  }
  .header2 a div p {
    margin-top: 8px;
  }

  .main {
    text-align: center;
    margin-top: 5%;
  }

  .main h2 {
    max-width: 80%;
    margin-left: 10%;

  }

  .submain {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
  }

  @media (max-width: 1500px){
    .submain {
      flex-direction: column;
      margin-top: 10%;
    }

    img {
      margin-top: 10px;
    }

  }

  .footer {
    text-align: center;
    margin-top: 5%;
  }

  .footer1{
    display: flex;
    list-style-type: none;
    overflow: hidden;
    text-decoration: none;
    justify-content: flex-start;
    position: absolute;
  }
  
  .footer2 {
    display: flex;
    list-style-type: none;
    overflow: hidden;
    text-decoration: none;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    margin-top: 10%;
    
  }

  #gon {
    color: rgb(0, 0, 0);
    width: 110px;
    float: left;
    list-style-type: none;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    height: 35px;
    margin-right: 10px;
  }
  
  #img2 {
    max-height: 80px;
  }

  @media (max-width: 950px){
    .footer2 {
      flex-direction: column;
      margin-top: 10%;
      align-items: center;
      
    }
    #img2 {
      max-height: 200px;
      max-width: 200px;
    }
  }



