body {
  font-family: sans-serif;

}

.header1{
  display: flex;
  list-style-type: none;
  overflow: hidden;
  text-decoration: none;
  justify-content: flex-start;
}

.header2{
  display: flex;
  list-style-type: none;
  overflow: hidden;
  text-decoration: none;
  justify-content: flex-end;
}

#hom {
  color: rgb(52, 201, 255);
  width: 110px;
  float: left;
  list-style-type: none;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  height: 35px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#con {
  color: rgb(52, 201, 255);
  width: 110px;
  float: left;
  text-align: center;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#log {
  color: rgb(52, 201, 255);
  border: solid 1px rgb(52, 201, 255);
  border-radius: 10px;
  width: 110px;
  float: right;
  margin-right: 5%;
  text-align: center;
  height: 33px;
}

#reg {
  background-color: rgb(52, 201, 255);
  width: 110px;
  border-radius: 10px;
  margin-right: 10px;
  float: right;
  color: white;
  text-align: center;
  height: 35px;

}

.header1 a div p {
  margin-top: 8px;
}
.header2 a div p {
  margin-top: 8px;
}

.main {
  text-align: center;
  margin-top: 5%;
}

.main h2 {
  max-width: 80%;
  margin-left: 10%;
}

.submain {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  align-items: center;
}

.submain-right {
  margin-left: 5px;
}

form {
  display: flex;
}

.form-tekst {
  display: flex;
}

.submain h2 {
  display: flex;
  width: 735px;
  justify-content: flex-start;
}

.form-vul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.form-vul-verzend {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.form-vul-verzend button {
  color: rgb(52, 201, 255);
  border: solid 1px rgb(52, 201, 255);
  border-radius: 10px;
  width: 110px;
  float: right;
  text-align: center;
  height: 33px;
  background-color: white;
}

.form-vul-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.form-vul p {
  margin-right: 10px;
}

.tekst {
  background-color: lightgray;
  height: 50px;
  border: 0px;
}

.vraag {
  display: flex;
  width: 600px;
  height: 100px;
  background-color: lightgray;
  border: 0px;
}

@media (max-width: 800px) {
  .submain h2 {
    display: flex;
    width: 302.72px;
    justify-content: flex-start;
  }

  .form-tekst {
    display: flex;
  }

  .vraag {
    display: flex;
    width: 300%;
    height: 100px;
    background-color: lightgray;
  }
}

.footer {
  text-align: center;
}

.footer1{
  display: flex;
  list-style-type: none;
  overflow: hidden;
  text-decoration: none;
  justify-content: flex-start;
  position: absolute;
}

.footer2 {
  display: flex;
  list-style-type: none;
  overflow: hidden;
  text-decoration: none;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  margin-top: 10%;

}

#gon {
  color: rgb(0, 0, 0);
  width: 110px;
  float: left;
  list-style-type: none;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  height: 35px;
  margin-right: 10px;
}

#img2 {
  max-height: 80px;
}

@media (max-width: 950px){
  .footer2 {
    flex-direction: column;
    margin-top: 10%;
    align-items: center;

  }
  #img2 {
    max-height: 200px;
    max-width: 200px;
  }
}
